{
  "env": {
    "development": {
      "presets": ["next/babel", "flow"], 
      "plugins": ["transform-decorators-legacy"]
    },
    "production": {
      "presets": ["next/babel", "flow"], 
      "plugins": ["transform-decorators-legacy"]
    },
    "test": {
      "plugins": ["transform-decorators-legacy"], 
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  }
}